.card-locked {
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  outline-style: solid;
  outline-offset: -2px;
}

.card-text-locked {
  font-size: 11px;
  top: 35px;
  font-weight: 600;
  margin: 0px 12px;
  position: relative;
  color: white;
  font-family: "libre baskerville";
}

.card-back {
  transform: rotateY(180deg);
}

.card-image-locked {
  position: absolute;
  height: 125px;
  width: 125px;
  opacity: 0.35;
  top: 15px;
}
.date-container {
  position: relative;
  height: 30px;
  width: 100%;
  top: 10px;
}
.date-text {
  color: white;
  position: relative;
  top: 5px;
  font-size: 14px;
  text-align: center;
}
.time-frame {
  position: absolute;
  width: 130px;
  top: 19px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.trivia-text {
  font-size: 9px;
}

.trivia-text-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
