.lotr-game-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
