.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.how-to-play-title {
  color: #ffa800;
  font-size: 30px;
}

.modal-content {
  background-color: #181818;
  padding: 30px;
  opacity: 0.9;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  text-align: center;
  color: white;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid #333;
}

.close-btn {
  background-color: #ffa800;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.close-btn:hover {
  background-color: #d4af37;
}

.instructions p {
  color: white;
  font-family: "libre Baskerville";
  font-size: 14px;
  margin-bottom: 30px;
  padding: 5px;
  margin: 0 30px;
}

.instructions-header {
  font-weight: 900;
  font-size: 15px;
  margin-right: 5px;
}

.instructions {
  text-align: left;
}

.mode-buttons {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  margin-bottom: 20px; 
}

.mode-buttons button {
  background: none;
  color: #ffa800;
  border: 2px solid transparent;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: border 0.3s ease;
}

.mode-buttons button:hover {
  border: 2px solid black;
  background: #ffa800;
  color: black;
}

.mode-buttons button.active {
  border: 2px solid #ffa800;
  font-weight: bold;
}
