.next-player-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.next-player-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #181818;
  padding: 30px;
  opacity: 0.95;
  border-radius: 10px;
  max-width: 360px;
  width: 90%;
  text-align: center;
  color: white;
  position: relative;
  border: 2px solid #ff8c00;
  box-shadow: 0 0 15px #ff8c00;
}

.next-player-username {
  color: #ffa800;
  font-family: "Libre Baskerville";
  font-size: 25px;
}

.next-player-avatar {
  width: 45%;
}

.next-player-text {
  color: #ffa800;
  font-family: "Libre Baskerville";
  font-size: 25px;
  margin-bottom: 3px;
}

.next-player-p {
  color: #838383;
}
