@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

@font-face {
  font-family: "Lotr-1";
  src: local("Aniron-7BaP"),
    url("./assets/fonts/Aniron-7BaP.ttf") format("truetype");
}

@font-face {
  font-family: "Lotr-2";
  src: local("AnironBold-mL9P"),
    url("./assets/fonts/AnironBold-mL9P.ttf") format("truetype");
}

@font-face {
  font-family: "Lotr-3";
  src: local("Anironc-d9DK"),
    url("./assets/fonts/Anironc-d9DK.ttf") format("truetype");
}

@font-face {
  font-family: "Lotr-4";
  src: local("AnironcBold-PKwr"),
    url("./assets/fonts/AnironcBold-PKwr.ttf") format("truetype");
}

@font-face {
  font-family: "Lotr-5";
  src: local("RINGM___"), url("./assets/fonts/RINGM___.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.lotr-font {
  color: #ffa800;
  font-family: lotr-5;
  -webkit-text-stroke: 0.05px rgb(104, 91, 91);
  cursor: pointer;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.57);
}

img {
  max-width: 200px;
}
.rotate {
  animation: rotation 60s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
