.highscore-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.highscore-modal-content {
  background-color: #181818;
  padding: 30px;
  opacity: 0.9;
  border-radius: 10px;
  max-width: 300px; /* Increased max-width for better appearance */
  width: 90%;
  text-align: center;
  color: #ffa800;
  position: relative; /* Ensure absolute children are positioned relative to this */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: #ffa800;
  border-style: double;
}

.frame {
  padding-top: 5%;
  width: 100%; /* Full width of modal content */
  max-width: 100%;
  height: auto;
  z-index: 0;
  position: absolute;
  top: 0; /* Align the frame to the top */
  left: 0;
  display: block;
}

.title {
  color: #d5d5d5;
  font-family: "Lotr-5";
  src: local("RINGM___"), url("./assets/fonts/RINGM___.ttf") format("truetype");
  z-index: 1000;
  margin-top: 15px; /* Add spacing from the top */
}

.h2-title {
  color: #ffa800;
  font-family: "libre Baskerville";
  font-size: 18px;
  margin-bottom: 15px;
  padding-top: 20%;
}

.p-highscore {
  color: #ffa800;
  font-family: "libre Baskerville";
  font-size: 18px;
  margin-bottom: 15px;
  padding-top: 20%;
}

.close-btn {
  background-color: #ffa800;
  color: #000;
  border: none;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.close-btn:hover {
  background-color: #d4af37;
}
