.highscore-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.highscore-modal-content {
  background-color: #181818;
  padding: 30px;
  opacity: 0.9;
  border-radius: 10px;
  max-width: 300px;
  width: 90%;
  text-align: center;
  color: #ffa800;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Skugga för att ge djup */
  border: 1px solid #333;
  border: 1px solid #333;
  gap: 40px;
}

.frame {
  padding-top: 5%;
  width: 100%;
  max-width: 100%;
  height: auto;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.title {
  color: #ffffff; /* Fallback color */
  font-size: 2vw;
  font-family: "Lotr-5";
  src: local("RINGM___"), url("./assets/fonts/RINGM___.ttf") format("truetype");
  z-index: 1000;
  margin-top: 15px;
  background: linear-gradient(
    45deg,
    #ffc340,
    #ff9204,
    #ffcf40
  ); /* Metallic gradient */
  background-size: 200% 200%; /* Size of the gradient background */
  -webkit-background-clip: text; /* Use WebKit-specific property for text gradient */
  background-clip: text;
  color: transparent; /* Text color needs to be transparent for the gradient to show */
  animation: gradient-shift 3s linear infinite; /* Animation for gradient shift */
}

/* Keyframes for gradient animation */
@keyframes gradient-shift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.h2-title {
  color: #ffa800;
  font-family: "libre Baskerville";
  font-size: 18px;
  margin-bottom: 15px;
  padding-top: 20%;
  margin-top: 10px;
}

.p-highscore-name-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  color: #956f21;
  font-family: "Libre Baskerville";
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 100%;
}

.p-name-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin-bottom: 30px;
  font-weight: 900;
  font-size: 32px;
  gap: 50px;
}

.close-btn {
  background-color: #ffa800;
  color: #000;
  border: none;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.close-btn:hover {
  background-color: #d4af37;
}

.p-highscore-name-big {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #ffa800;
  font-family: "Libre Baskerville";
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 100%;
  font-weight: bold;
  text-shadow: 0 0 4px #ffa800, 0 0 6px #ffa800, 0 0 8px #d4af37;
  animation: pulse-glow 2s infinite;
}

@keyframes pulse-glow {
  0% {
    text-shadow: 0 0 4px #ffa800, 0 0 6px #ffa800, 0 0 8px #d4af37;
  }
  50% {
    text-shadow: 0 0 10px #ffa800, 0 0 20px #ffa800, 0 0 30px #d4af37;
  }
  100% {
    text-shadow: 0 0 4px #ffa800, 0 0 6px #ffa800, 0 0 8px #d4af37;
  }
}
