.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #835700;
  max-height: 220px;
  max-width: 150px;
  min-height: 220px;
  min-width: 150px;
  background-color: #000000;
  perspective: 1000px; /* Provides a 3D perspective */
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.card-playable {
  /* in order: x offset, y offset, blur size, spread size, color /
    / blur size and spread size are optional (they default to 0) */
  box-shadow: 0px 0px 25px 5px #ffa800;
  transition: transform 0.3s ease;
  outline-style: solid;
}

.card-body {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-image {
  position: absolute;
  height: 125px;
  width: 125px;
  opacity: 0.35;
  top: 15px;
}
.card-text-playable {
  font-size: 13px;
  top: 35px;
  font-weight: 600;
  margin: 0px 12px;
  position: relative;
  color: white;
  font-family: "libre baskerville";
}

.time-frame {
  position: absolute;
  width: 130px;
  top: 19px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-container.adding {
  opacity: 0;
  transform: translateY(-80px);
}

.card-container.adding-added {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in, transform 1s ease-in;
}
